.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 80px;
}

.img {
  width: 50%;
}
.text {
  width: 50%;
}

.left {
  margin-left: 125px;
}

.left .description {
  margin-right: 125px;
}

.imgItem {
  height: 300px;
  width: 500px;
  background: var(
    --main-gradient,
    linear-gradient(90deg, #ffdc30 0%, #ff6f3c 100%)
  );

  margin: 0px auto;
  border-radius: 32px;
}

.header3 {
  color: var(--black-75, rgba(44, 40, 38, 0.75));
  /* h4 */
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 700;
}

.description {
  margin-right: 125px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.primary {
  color: black;
  /* p */
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 700;

  padding: 12px 28px;
  width: 200px;

  border-radius: 32px;

  border-style: solid;
  border-width: 2px;
  background: white;

  margin-right: 24px;

  /* border: none; */
}

.primary:hover {
  background: #ffdc30;
}
