.container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  border-bottom: 0.0625rem solid #2C282680;
}

.title {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 700;
  margin: 1rem 2rem;

  cursor: pointer;
  
  background: linear-gradient(to right, #ffdc30, #ff6f3c);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  transition: transform 0.3s ease 0s;

}

.title:hover{
    transform: scale(1.02);
}

.links a {
    text-decoration: none;
    color: var(--black, #2c2826);
    
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    margin: 1rem 2rem 1rem 0rem;
    transition: color 0.1s ease-in-out 0s;
}

.links a:hover{
    color: #ff6f3c;
}

.links{
    margin-left: auto
}
.links:hover{
}

.span{
    width: 0.01rem;
    height: 2rem;
    background-color: black;
}

.icons {
    /* width: 2rem;
    height: 2rem; */
    /* margin-right: 4rem; */
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.IconItem{
    margin-right: 2rem;
}

.IconItem:hover{
    cursor: pointer;
}

.hamburger{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    position: absolute;
    left: 1.5rem;
}

.burger{
    display: none;
    width: 1.5rem;
    height: 0.2rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

@media screen and (max-width: 750px) {
    .burger{
        display: inline;
    }
    .links, .icons, .span{
        display: none;
    }
}

